.App {
  text-align: center;
}

li {
  list-style: none;
}

.pet-image {
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.pet-image:hover {
  transform: scale(1.05);
  animation: ease-out;
}

.AppContainer {
  background-color: beige;
  padding: 10px 10px 10px 10px;
  height: 100vh;
}

.MainHeading {
  margin: 0px;
}

.top-level-list {
  display: flex;
  height: 100vh;
}

.top-level-list-item {
  display: flex;
  flex-direction: column;
}

.skill-list {
  padding: 0px;
}