.App {
  text-align: center;
}


.pet-image {
  width: 20%;
  border-radius: 0px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.pet-image:hover {
  transform: scale(1.05);
  animation: ease-out;
}