@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: wheat;
  min-height: 100vh;
  box-sizing: border-box;
}

.App>h1 {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 400px;
  font-weight: 400;
  letter-spacing: -0.1em;
  color: whitesmoke;
  -webkit-text-stroke: 10px #000000;
  paint-order: stroke fill;
  margin: 0;


}

li {
  list-style: none;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 0.5em;
  margin: 10px;
  /* background-color: white; */
}

.container>li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid whitesmoke;
  padding: 1cqb;
  background-color: white;
  border-radius: 12px;
}

.pet-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.skills {
  padding: 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
}